.header{
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    border-bottom-width: 1px ;
    border-bottom-style: solid;
    border-bottom-color: rgb(184, 184, 184);
    background-color: white;

}


.left-section{
    display: flex;
    align-items: center;
    
}
.middle-section{

    
    flex: 1;
    margin-left: 70px;
    margin-right: 35px;
    max-width: 500px;
    display: flex;
    align-items: center;
}

.search-bar{
   flex: 1;
   width: 0;
   height: 36px; 
   font-size: 18px;
   padding-left: 11px;
   border-width: 1px;
   border-style: solid;
   border-color: gray;
   border-radius: 3px;
   box-shadow: inset 1px 2px 2px rgba(0, 0, 0, 0.15);

}

.search-bar::placeholder{
    font-family: Roboto, Arial;
    font-size: 17px;
    
}
.right-section{
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 22px;
    flex-shrink: 0;
}
.hamburger-menu{
    height: 24px;
    margin-left: 23px;
    margin-right: 20px;
}
.youtube-logo{
    height: 20px;
}

.search-button{
    height: 40px;
    width: 67px;
    background-color: rgb(228, 227, 227);
    border-width: 1px;
    border-style: solid;
    border-color: gray;
    margin-left: -1px;
    margin-right: 10px;

    position: relative;
}

.search-button .tooltip,
.voice-search .tooltip,
.upload-icon-container .tooltip{
    position: absolute;
    background-color: gray;
    color: white;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 3px;
    font-size: 10px;
    bottom: -28px;
    opacity: 0;
    transition: opacity 0,2s;
    pointer-events: none;
    white-space: nowrap;
    font-family: Roboto, Arial;

}

.search-button:hover .tooltip,
.voice-search:hover .tooltip,
.upload-icon-container:hover .tooltip{
    opacity: 1;
}
.search-button, .voice-search, .upload-icon-container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.voice-search{
    height: 40px;
    width: 40px;
    border-radius: 20px;
    border: none;
    background-color: rgb(228, 227, 227);
}
.search-icon{
    height: 25px;
    
}

.voice-search-icon{
    height: 25px;
    
}
.upload-icon{
    height: 25px;
}
.notifications-icon{
    height: 25px;
}
.youtube-apps-icon{
    height: 25px;
}
.current-user-picture{
    height: 30px;
    border-radius: 15px;
}

.notifications-icon-container{
    position: relative;

}
.notifications-count{
    position: absolute;
    top: -3px;
    right: -3px;
    background-color: rgb(189, 20, 20);
    color: white;
    font-family: Roboto, Arial;
    font-size: 12px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 10px;
}